<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Crypto Wallet</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"> <p class="col-md-8 fs-6"> <%=current_user.email%> </p>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"btn btn-danger"%></li>
      </ul>
    </header>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
          <%= yield %>
    </div>
  </div>
    </div>
  </body>
</html>
